# redacted more than the epstein files

DOZZLE_PASSWORD = REDACTED
DOZZLE_EMAIL = REDACTED
DOZZLE_USERNAME = REDACTED

# CADDY_DOMAIN_NAME
# CADDY_SERVICE_NAME
# CADDY_SERVICE_PORT

# CADDY_SECOND_DOMAIN
# CADDY_SECOND_NAME

GITEA_DB_PASSWORD = REDACTED
GITEA_OTHER_NETWORK = REDACTED
GITEA_ROOT_URL = REDACTED
