{{ domain_name }} {
    reverse_proxy {{ service_name }}:{{ service_port }}
}

{{ second_domain }} {
    reverse_proxy {{ second_service }}:{{ service_port }}
}

{{ third_domain }} {
    reverse_proxy {{ third_service }}:{{ third_port }}
}